<!doctype html>
<html>

<head>
    {% if title %}
    <title>{{ title }} - LLM Forum</title>
    {% else %}
    <title>Welcome to LLM Forum</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="nav-bar">
        <div class="heading">
            <img src="../static/assets/logo.png" alt="" class="logo">
            <img src="../static/assets/logo-word.png" alt="" class="logo">
        </div>
        <div class="nav-options">
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</body>

</html>