{% extends "navbar.html" %}
{% block content %}
<div class="container">
    <div class="content-wrap">
        <div class="profile-container">
            <section class="profile-top-container">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="{{ user.avatar(36) }}" alt="Avatar" class="avatar">
                    </div>
                    <div class="profile-details">
                        <div class="username">{{ user.username }}</div>
                        <div class="email">{{ user.email }}</div>
                        <!-- Placeholder for masked password -->
                        <div class="password">***********</div> 
                        <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account? This action cannot be undone.');">
                            <button type="submit" class="btn btn-danger">Delete Account</button>
                        </form>
                    </div>
                </div>
            </section>
        <!-- https://codepen.io/Lewitje/pen/doJRBX/ -->
            <div class="profile-body">
                <ul class="profile-tabs" id="ques_ans_list">
                    <li data-tab="questions" class="tab" data-id="{{ user.id }}">My Questions</li>
                    <li data-tab="answers" class="tab" data-id="{{ user.id }}">My Answers</li>
                </ul>
                <div class="profile-tabs-content" id="content">
                    <p>Questions/Answers</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
