<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../assets/style.css" />
</head>

<body>
    <div class="profile-container">
        <header>
            <div class="logo-pic">
                <img src="../assets/site-logo.png" alt="Site Logo">
            </div>
            <div class="logo">Site Name</div>
            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>
            <div class="avatar-pic">
                <img src="../assets/img_avatar.png" alt="Avatar"> 
            </div>
        </header>
        <div class="content">
            <div class="profile">
                <div class="profile-pic">
                    <img src="../assets/img_avatar.png" alt="Avatar">
                </div>
                <div class="profile-details">
                    <div class="username">username</div>
                    <div class="email">someone@example.com</div>
                    <div class="password">***********</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>