{% extends "navbar.html" %}
{% block content %}
    <div class="profile-container">
        <div class="content">
            <div class="profile">
                <div class="profile-pic">
                    <img src="../static/assets/img_avatar.png" alt="Avatar">
                </div>
                <div class="profile-details">
                    <div class="username">{{ user.username }}</div>
                    <div class="email">{{ user.email }}</div>
                    <!-- Placeholder for masked password -->
                    <div class="password">***********</div> 
                </div>
            </div>
        </div>
    </div>
    {% endblock %}>